<div class="row">
 <div class="col">
  <h2>会員情報編集</h2>
  <%= form_with model: @customer do |f| %>
   <div class="field form-group">
     <%= f.label :"氏名" , class: "col-sm-3 control-label"%>
     <%= f.text_field :last_name,placeholder: "山田"%>
     <%= f.text_field :first_name,placeholder: "太郎"%>
   </div>

   <div class="field form-group">
     <%= f.label :"フリガナ" , class: "col-sm-3 control-label"%>
     <%= f.text_field :kana_last_name,placeholder: "ヤマダ" %>
     <%= f.text_field :kana_first_name,placeholder: "タロウ" %>
   </div>

    <div class="field form-group">
     <%= f.label :"郵便番号（ハイフンなし）", class: "col-sm-3 control-label" %>
     <%= f.text_field :postal_code,placeholder: "0000000"  %>
   </div>

   <div class="field form-group">
     <%= f.label :"住所", class: "col-sm-3 control-label" %>
     <%= f.text_field :address,placeholder: "東京都渋谷区代々木神園町0-0", class: "col-sm-7 control-label"  %>
   </div>

   <div class="field form-group col-xs-10">
     <%= f.label :"電話番号（ハイフンなし）" , class: "col-sm-3 control-label" %>
     <%= f.text_field :phone_namber,placeholder: "00000000000" %>
   </div>

   <div class="field form-group">
     <%= f.label :"メールアドレス", class: "col-sm-3 control-label" %>
     <%= f.text_field :email, autofocus: true,placeholder: "samplie@example.com" ,autocomplete: "email"%>
   </div>

<div class="row">
  <div class= "col-sm-5 ">
    <%= f.submit "編集内容を保存", class: "btn btn-success " %>
  </div>
  <div class= "col-sm-5 ">
    <%= link_to "退会する", unsubscribe_path, class: "btn btn-danger"  %>
  </div>
</div>
  <% end %>
 </div>

  <div class="field form-group col-xs-12">
    <%= f.label :"名前" , class: "col-sm-2 control-label"%>
    <%= f.label :"（姓）" , class: "col-sm-1 control-label"%>
    <%= f.text_field :last_name,placeholder: "山田"%>
    <%= f.label :"（名）", class: "col-sm-1 control-label" %>
    <%= f.text_field :first_name,placeholder: "太郎" %>
  </div>

  <div class="field form-group col-xs-12">
    <%= f.label :"フリガナ" , class: "col-sm-2 control-label"%>
    <%= f.label :"(セイ)", class: "col-sm-1 control-label"%>
    <%= f.text_field :kana_last_name,placeholder: "ヤマダ" %>
    <%= f.label :"（メイ）", class: "col-sm-1 control-label" %>
    <%= f.text_field :kana_first_name,placeholder: "タロウ" %>
  </div>

  <div class="field form-group col-xs-12">
    <%= f.label :"メールアドレス", class: "col-sm-3 control-label" %>
    <%= f.text_field :email, autofocus: true,placeholder: "samplie@example.com" ,autocomplete: "email" %>
  </div>

  <div class="field form-group col-xs-12">
    <%= f.label :"郵便番号（ハイフンなし）", class: "col-sm-3 control-label" %>
    <%= f.text_field :postal_code,placeholder: "0000000"  %>
  </div>

  <div class="field form-group col-xs-12">
    <%= f.label :"住所", class: "col-sm-3 control-label" %>
    <%= f.text_field :address,placeholder: "東京都渋谷区代々木神園町0-0", class: "col-sm-7 control-label"  %>
  </div>

  <div class="field form-group col-xs-12">
    <%= f.label :"電話番号（ハイフンなし）" , class: "col-sm-3 control-label" %>
    <%= f.text_field :phone_namber,placeholder: "00000000000" %>
  </div>
  <%= f.submit "編集内容を保存", class: "btn btn-success" %>
  <%= link_to "退会する", unsubscribe_path, class: "btn btn-danger"  %>
<% end %>

</div>
</div>