<div class="container">
 <div class="row">
  <div class="col mt-5">
  <h2 class="border-bottom text-dark text-center col-sm-3 mt-2">会員情報編集</h2>
    <%= form_with model: @customer, url: customers_path, method: :patch do |f| %>
     <div class="field form-group row mt-5">
      <%= f.label :"氏名" , class: "col-sm-3"%>
      <%= f.text_field :last_name,placeholder: "山田", class: "col-sm-2 control-label"%>
      <%= f.text_field :first_name,placeholder: "太郎", class: "col-sm-2 control-label ml-3"%>
     </div>

   <div class="field form-group row">
     <%= f.label :"フリガナ" , class: "col-sm-3"%>
     <%= f.text_field :kana_last_name,placeholder: "ヤマダ", class: "col-sm-2 control-label mr-3" %>
     <%= f.text_field :kana_first_name,placeholder: "タロウ", class: "col-sm-2 control-label"%>
   </div>

    <div class="field form-group row">
     <%= f.label :"郵便番号（ハイフンなし）", class: "col-sm-3" %>
     <%= f.text_field :postal_code,placeholder: "0000000" , class: "col-sm-2 control-label" %>
   </div>

   <div class="field form-group row">
     <%= f.label :"住所", class: "col-sm-3 " %>
     <%= f.text_field :address,placeholder: "東京都渋谷区代々木神園町0-0", class: "col-sm-6 control-label"  %>
   </div>

   <div class="field form-group row">
     <%= f.label :"電話番号（ハイフンなし）" , class: "col-sm-3" %>
     <%= f.text_field :phone_namber,placeholder: "00000000000", class: "col-sm-2 control-label" %>
   </div>

   <div class="field form-group row">
     <%= f.label :"メールアドレス", class: "col-sm-3" %>
     <%= f.text_field :email, autofocus: true,placeholder: "samplie@example.com" ,autocomplete: "email", class: "col-sm-2 control-label"%>
   </div>
   <div class="row mt-5 mb-5">
    <div class= "col-sm-6 text-right">
      <%= f.submit "編集内容を保存", class: "btn btn-yellow text-white rounded-pill col-sm-6 " %>
    </div>
    <div class= "col-sm-3 offset-1 ">
      <%= link_to "退会する", unsubscribe_path(current_customer), class: "btn btn-outline-danger rounded-pill" %>
    </div>
   </div>
   <% end %>
  </div>
 </div>
</div>
