<div class="container">
  <h2 class="bg-light text-dark text-center col-md-3 mt-3">ログイン</h2>
  <div class="row mt-3 offset-1">
   <h5 class="bg-light text-dark text-center">会員の方はこちらからログイン</h5>
  </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
   <div class="form_group row mt-3">
     <%= f.label :"メールアドレス", class: "col-3" %>
     <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mb-3 col-6" %>
   </div>
   <div class="form_group row">
     <%= f.label :"パスワード", class: "col-3" %>
     <%= f.password_field :password, autocomplete: "current-password" , class: "mb-5 col-6"%>
   </div>
   <div class="actions row">
     <%= f.submit "ログイン", class: "btn btn-primary col-3 offset-3" %>
   </div>
   <% end %>

  <div class="row offset-1 mt-5">
   <h5 class="bg-light text-dark text-center">会員登録がお済ではない方</h5>
  </div>
  <div class="row offset-2 mt-3">
    <%=link_to "こちら", new_customer_registration_path %>
    <span>から新規登録を行ってください。</span>
  </div>
</div>



