<div class="container">
  <h4><span class="bg-light">注文情報の確認</span></h4>
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-8">
          <table class="table table-bordered ">
            <thead>
              <tr>
                <th>商品名</th>
                <th>単価(税込)</th>
                <th>数量</th>
                <th>小計</th>
              </tr>
            </thead>
            <tbody>
              <% current_customer.cart_items.each do |cart_item| %>
              <tr>
                <td><%= cart_item.item.name %></td>
                <td><%= cart_item.item.with_tax_price %></td>
                <td><%= cart_item.quantity %></td>
                <td><%= cart_item.subtotal %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="col-3 mx-3">
          <table class="table table-bordered ">
            <tbody>
              <tr>
                <th>送料</td>
                <td>800</td>
              </tr>
              <tr>
                <th>商品合計</th>
                <td><%= @total %></td>
              </tr>
              <tr>
                <th>請求金額合計</th>
                <td><%=  @order.total_money %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-8">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <th>支払方法 </th>
              <td> <%= Order.cash_means_i18n[@order.cash_mean] %></td>
            </tr>
            <tr>
              <th>お届け先</th>
              <td>
                <%= @order.postal_code %><%= @order.address %><br>
                <%= @order.send_name %>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>

      <div class="row mx-auto">
        <div class="col justify-content-center align-items-center text-center">
        <%= form_with model: @order,url: orders_path,method: :post do |f| %>
          <%= f.hidden_field :customer_id %>
          <%= f.hidden_field :send_name %>
          <%= f.hidden_field :total_money %>
          <%= f.hidden_field :cash_mean %>
          <%= f.hidden_field :postal_code %>
          <%= f.hidden_field :address %>
          <%= f.hidden_field :order_status,:value=>"payment_waiting" %>
          <%= f.submit "注文を登録する",class: "btn btn-success "%>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
