<h2>注文情報の確認</h2>
<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
    <% current_customer.cart_items.each do |cart_item| %>
    <tr>
      <td><%= cart_item.item.name %></td>
      <td><%= cart_item.item.out_tax_price %></td>
      <td><%= cart_item.quantity %></td>
      <td><%= cart_item.subtotal %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>送料</th>
      <th>商品合計</th>
      <th>請求金額合計</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>800</td>
      <td><%= @total %></td>
      <td><%=  @order.total_money %></td>
    </tr>
  </tbody>
</table>

<div>
  <p>支払方法 | <%= Order.cash_means_i18n[@order.cash_mean] %></p>
</div>

<div>
  <p>お届け先 | <%= @order.postal_code %><%= @order.address %></p>
  <p><%= @order.send_name %></p>
</div>

<div>
  <%= form_with model: @order,url: orders_path,method: :post do |f| %>
    <%= f.hidden_field :customer_id %>
    <%= f.hidden_field :send_name %>
    <%= f.hidden_field :total_money %>
    <%= f.hidden_field :cash_mean %>
    <%= f.hidden_field :postal_code %>
    <%= f.hidden_field :address %>
    <%= f.hidden_field :order_status,:value=>"payment_waiting" %>
    <%= f.submit %>
  <% end %>
</div>