 <div class='row px-3 px-md-0 ml-2 mt-5'>
   <div class='col-md-2 mx-auto my-auto'>
     <%= render "genre", genres: @genres %>
   </div>

   <div class='col-md-10 mx-auto my-auto'>
     <h2 class="mb-5 mt-5">商品一覧<span>（全<%= @items.count %>件）</span></h2>
       <div class='row'>
        <% @items.each do |item| %>
          <div class='col-md-3  my-auto mx-auto text-center'>
             <%= link_to item_path(item) do %>
              <%= image_tag item.get_image ,size: "270x180", class: "mx-auto d-block" %>
             <% end %>
             <p><%= link_to item_path(item) do %>
             <%= item.name %>
             <% end %><br>
             ￥<%= (item.out_tax_price* 1.1).to_i %>
            </p>
          </div>
        <% end %>
       </div>
    </div>
  </div>



      <%= paginate @items %>
     </div>

<!--</div>-->


