<div class="container">
  <h2 class="mb-5 mt-5">商品一覧<span>（全<%= @items.count %>件）</span></h2>
  <div class='row px-md-0 ml-2 mt-5'>
    <div class='col-md-3 mx-auto'>
      <%= render "genre", genres: @genres %>
    </div>
    <div class='col-md-9 justify-content-end'>
      <div class='row'>
        <% @items.each do |item| %>
          <div class='card text-center mx-1 mb-2'>
             <%= link_to item_path(item) do %>
              <%= image_tag item.get_image ,size: "240x160", class: "mx-auto d-block" %>
             <% end %>
             <p><%= link_to item_path(item) do %>
             <%= item.name %>
             <% end %><br>
             <%= number_to_currency(item.out_tax_price* 1.1) %>
            </p>
          </div>
        <% end %>
        <%= paginate @items %>
      </div>
    </div>
  </div>
</div>



