<div class="container">
  <h4><span class="bg-light">商品一覧</span></h4>
  <div class="row">
    <div class="col-sm-10 mx-auto">
      <table class="table">
        <thead class="table-bg-light">
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td>
              <%= link_to item.name,administrator_item_path(item) %>
            </td>
            <td><%= item.out_tax_price %></td>
            <td><%= item.genre.genre_name %></td>
            <td id="sales_status<%= item.id %>" class="text-success">
              <%= Item.sales_statuses_i18n[item.sales_status] %>
            </td>
          </tr>
          <script>
            if(<%= item.sales_status == "stop_sales"%>){
              var element = document.querySelector('#sales_status<%= item.id %>');
              element.className = 'text-secondary';
            }
          </script>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan=3 ><%= paginate @items %></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

