<div class="container">
<h2 class="col-md-3 mt-3 border-bottom text-center">配送先編集</h2>
 <div class="row g-3 needs-validation novalidate">
    <div class="col-md-8 mt-3 ">
      <%= form_with(model: @address, local: true, class: 'needs-validation', html: {novalidate: true}) do |f| %>
        <div class="form-group row">
          <%= f.label :"郵便番号（ハイフンなし）" , class: "col-md-5 "%>
          <%= f.text_field :postal_code, autofocus: true,class:'form-control col-md-3', required: true %>
          <div class="invalid-feedback row offset-5">
            郵便番号を入力してください。
          </div>
       </div>
       <div class="form-group row">
         <%= f.label :"住所", class: "col-md-5" %>
         <%= f.text_field :address, autofocus: true,class:'form-control col-md-7', required: true %>
           <div class="invalid-feedback row offset-5">
            住所を入力してください。
           </div>
        </div>
        <div class="form-group row">
          <%= f.label :"宛名", class: "col-md-5"%>
          <%= f.text_field :name, autofocus: true,class:'form-control col-md-3', required: true %>
          <div class="invalid-feedback row offset-5">
            宛名を入力してください。
          </div>
        </div>
    </div>
    <div class="col-md-4 mt-5 pt-5">
      <%= f.submit "変更内容を保存", class: "btn btn-yellow text-white rounded-pill mt-5 col-md-5 " %>
    </div>
    <% end %>
  </div>
</div>

