<div class="container mb-5">
  <h2 class="mb-5 mt-5"><%= @genre.genre_name %>一覧<span>（全<%= @items_all_count %>件）</span></h2>
  <div class='row px-md-0 ml-2 mt-5'>
    <div class='col-md-3 mx-auto mb-3'>
      <%= render "customer/items/genre", genres: @genres %>
    </div>
    <div class='col-md-9 justify-content-end'>
      <div class='row mb-5'>
        <% @items.each do |item| %>
          <div class='card text-center mx-1'>
             <%= link_to item_path(item) do %>
              <%= image_tag item.get_image ,size: "240x160", class: "mx-auto d-block" %>
             <% end %>
             <p><%= link_to item_path(item) do %>
             <%= item.name %>
             <% end %><br>
             <%= number_to_currency(item.out_tax_price* 1.1) %>
            </p>
          </div>
        <% end %>
      </div>
    <div class="text-center mx-auto">
      <%= paginate @items %>
    </div>
    </div>
  </div>
</div>


