<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="shadow-sm">
     <nav class="navbar navbar-expand-lg  bg-secondary ">
      <div class="container">
        <%= link_to "NaganoCake", root_path, class: 'text-white navbar-brand' %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <% if customer_signed_in? %>
          <%=render 'layouts/customer_header' %>
        <% elsif administrator_signed_in? %>
          <%=render 'layouts/administrator_header' %>
        <% else %>
          <%=render 'layouts/guest_header' %>
        <% end %>
      </div>
     </nav>
   </header>
  <% flash.each do |type,message| %>
     <%= message %>
   <% end %>
   <!--<maiin>-->
  <%= yield %>
  <!--</maiin>-->
  <div style="height: 100px;"></div>
  <footer class="bg-secondary fixed-bottom ">
  <div class='container'>
  	<div class='row'>
    	<div class='mx-auto mt-3'>
    		<p>CopyRight Infratop.inc</p>
    	</div>
    </div>
  </div>
  </footer>
 </body>
</html>